@font-face {
    font-family: "akira";
    src: url(../assets/fonts/akira.otf);
}
@font-face {
    font-family: "neue-power";
    src: url(../assets/fonts/neue-power.ttf);
}

body{
    overflow-x: hidden;
    display: grid;
}


#menu a{
    font-size:  18px;
    font-weight: bold;
    color: black;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
}

.carousel-indicators .active {
    background-color: black; 
}

.separator-line {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 50px;
}

.separator-line2 {
    width: 50%; 
    height: 1px; 
    background-color: grey;
    margin: 40px auto;
} 

.ver-mas{
    margin-top: 40px;
    margin-bottom: 70px;
}

.contacto{
    margin-left: 10px;
}

footer{
    margin-top: 60px;
    text-decoration: none;
}

ul{
    list-style: none;
}

.col,
a{
    text-decoration: none;
    color: black;
}

.copyright{
    margin-left: 10px;
}