@font-face {
    font-family: "panne";
    src: url(../assets/fonts/LTPanneaux-Regular.ttf);
}

body{
    font-family: "panne";
    background-color: #ecf0f1;
    color: #2c3e50;
}


#menu a{
    font-size:  18px;
    font-weight: bold;
    color: black;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.parrafo-index{
    font-size: 14px
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
}

.carousel-indicators .active {
    background-color: black; 
}

.separator-line {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 50px;
}

.separator-line2 {
    width: 50%; 
    height: 1px; 
    background-color: grey;
    margin: 40px auto;
} 

.ver-mas{
    margin-top: 40px;
    margin-bottom: 70px;
}

.contacto{
    margin-left: 10px;
}

.contacto,
.mb-3{
    width: 75%;
}

.parrafo-contacto{
    font-size: 15px;
}

footer{
    margin-top: 60px;
    text-decoration: none;
    background-color: #3498db;
}

ul{
    list-style: none;
}

.col,
a{
    text-decoration: none;
    color: black;
}

.copyright{
    margin-left: 10px;
}

.busqueda{
    display: flex;
    justify-content: center;
}

.barra-busqueda{
    width: 50%;
}

.boton-buscar{
    margin-left: 10px;
}

.titulo-noticias{
    margin-top: 60px;
}

.titulo-catalogo{
    margin-top: 80px;
    margin-bottom: 80px;
}

.zoom-image {
    transition: transform 0.3s ease;
  }
  
  .zoom-image:hover {
    transform: scale(1.1);
  }  

.columna-1{
    margin-bottom: 60px;
}

.imagen-producto, img{
    width: 90%;
}

.precio{
    font-size: xx-large;
    margin-top: 30px;
}

.descripcion{
    font-size: medium;
    margin-top: 30px;
}

.barra-carga{
    width: 90%;
    background-color: grey;
    height: 1px;
    
}

.barra-carga1{
    width: 90%;
    background-color: black;
    height: 1px;
}

.titulo-carrito{
    margin-top: 30px;
    margin-left: 20px;
}

.contenedor-carrito{
    margin-top: 20px;
}

.texto-carrito{
    margin-top: 50px;
}

.imagen-producto{
    width: 20%;
}

.linea-carrito {
    width: 65%; 
    height: 1px; 
    background-color: grey;
} 

.col-md-4, p{
    font-size: 25px;
}

.linea-resumen {
    width: 84%; 
    height: 1px; 
    background-color: grey;
    
} 

.contenedor-resumen, col{
    margin-bottom: 30px;
}

.boton-siguiente{
    margin-left: 20px;
    margin-top: 40px;
}

.contenedor-envio{
    margin-left: 10px;
    margin-top: 30px;
}

.boton-siguientee{
    margin-top: 40px;
}

.resumen-compraa{
    font-size: 20px;
    margin-top: 15px;
}

.tarjeta{
    margin-bottom: 100px;
}

.navbar {
    background-color: #3498db;
  }

  .navbar-dark .navbar-toggler-icon {
    background-color: #ecf0f1;
  }

  .navbar-nav .nav-link {
    color: #ecf0f1;
  }

  .navbar-nav .nav-link.active {
    color: #ecf0f1;
  }

  .navbar-nav .nav-link:hover {
    color: #ecf0f1;
  }

  .navbar-button button {
    background-color: #3498db;
    color: #ecf0f1;
  }

  /* Encabezado (h1) */
  h1 {
    color: #3498db;
  }

  /* Botones principales */
  .btn-primary {
    background-color: #3498db;
    color: #ecf0f1;
  }

  .btn-primary:hover {
    background-color: #2980b9;
  }

  /* Botones de acción (resaltar) */
  .btn-primary-outline-success {
    background-color: #e74c3c;
    color: #ecf0f1;
  }

  .btn-primary-outline-success:hover {
    background-color: #c0392b;
  }

  /* Cuerpo de la página */
  body {
    background-color: #ecf0f1;
    color: #2c3e50;
  }

  